<div *ngIf="hero">
  <h2>{{ hero.name }} details!</h2>
  <div><label>Id: </label>{{ hero.id }}</div>
  <div>
    <label>Name: </label>
    <input type="text" [(ngModel)]="hero.name" placeholder="Name">
  </div>
    <button (click)="goBack()">Back</button>
</div>
