<h1>{{ title }}</h1>

<nav>
  <a routerLink="/heroes" routerLinkActive="active">Heroes</a>
  <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
</nav>

<router-outlet></router-outlet>
